<a href="https://colab.research.google.com/github/Aatika1/Basic-of-python/blob/main/Lecture_7_stage3_basics_of_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This notebook cover the following concept

1.   Loop
2.   Loops in python
3.   User define function in python

##**What is loop?**

A loop is a programmig concept that allow for the repetation of a set instructions multiple times

#**Python - For Loop**

A for loop is used for iterating over a sequence (that either a list, a tuple,a dictionary, a set or a string) with the for loop we can execute a set of statements,once for each item in a list, tuple, set etc

In [ ]:
# print the hello world using the print statements
print("hello world")
print("hello world")
print("hello world")
print("hello world")
print("hello world")
print("hello world")
print("hello world")
print("hello world")
print("hello world")
print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [ ]:
# print the str specific number of times
for i in range(10):
  print("hello world")
  print("hello pakistan")

hello world
hello pakistan
hello world
hello pakistan
hello world
hello pakistan
hello world
hello pakistan
hello world
hello pakistan
hello world
hello pakistan
hello world
hello pakistan
hello world
hello pakistan
hello world
hello pakistan
hello world
hello pakistan

In [ ]:
# print each fruit in a fruit list
fruits = ["apple", "banana", "cherry"]
for item in fruits:
  print(item)

apple
banana
cherry

In [ ]:
#printing the list
print(fruits)

['apple', 'banana', 'cherry']

In [ ]:
# print each value in my_list ,list
my_list=[10,20,30,40,50,60]

for x in my_list:   #<--- x is variable who's scope is limited to the for loop, x can be named anything you'd like
  print(x)

10
20
30
40
50
60

#**Looping through string**

Even str are iterable object they contain sequence of characters:

Loop through the letters in the word "Banana"

In [ ]:
for x in "banana":
  print(x)

b
a
n
a
n
a

#**The range() function**

in most cases, we will want to loop through a predetermined list. However we can also generate a list to loop over 'on the fly'with range()

In [ ]:
for i in range(8):
  print(i)

0
1
2
3
4
5
6
7

In [ ]:
for num in range(1,6):
  print(num)

1
2
3
4
5

In [5]:
# using for loop to print the items of list and their index
my_list=[10,20,30,40,50,60]
for i in range(len(my_list)):
  print(i,my_list[i])

0 10
1 20
2 30
3 40
4 50
5 60

In [2]:
# getting length of list using len()function
my_list=[10,20,30,40,50,60]
print(len(my_list))

6

In [ ]:
my_list=[10,20,30,40,50,60]
for my in my_list:
  print(my)

10
20
30
40
50
60

#**Looping through a dict**

keys() you can step through the keys of a dict

In [ ]:
# print values from the dict
my_dict={"brand": "ford", "model" : "mustang", "year" : "1964"}
for values in my_dict.values():
  print(values)

ford
mustang
1964

In [ ]:
# printing keys from the dict
my_dict={"brand": "ford", "model" : "mustang", "year" : "1964"}
for keys in my_dict.keys():
  print(keys)

brand
model
year

In [7]:
numbers=[1,2,3,4,5,6,7,8,9,10]
for num in numbers:
  if num%2==0:
    print(num,"is an even number")

2 is an even number
4 is an even number
6 is an even number
8 is an even number
10 is an even number

In [8]:
numbers=[1,2,3,4,5,6,7,8,9,10]
for nums in numbers:
  if nums%2!=0:
    print(nums,"is an odd number")

1 is an odd number
3 is an odd number
5 is an odd number
7 is an odd number
9 is an odd number

In [9]:
my_dict={"brand": "ford", "model" : "mustang", "year" : "1964"}
for d in my_dict.items():
  print(d)

('brand', 'ford')
('model', 'mustang')
('year', '1964')

#**Python while loop**
with the while loop we can execute a set of statements as long as a condition is true.

In [1]:
# Print i as long as i is less than 60:
i=1
while i < 60:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59

In [2]:
#while loop
count = 0
while (count < 3):
  count=count+1
  print("print hello",count)

print hello 1
print hello 2
print hello 3

In [8]:
# user validation
password = ""
while password != "secret":
   password =input("enter the password: ")
   if password == "secret":
    print("Access granted")
   else:
    print("Access denied")

In [9]:
t=0
n=1
while n <=20:
  t=t+n
  n=n+1
print(t)

210

In [5]:
#Summing numbers
total = 0
num = 1
while num <= 10:
  total = total + num
  num = num +1
print("the sum is",total)

the sum is 55

#**Python functions**

A function is a block of code which only runs when it is called.

You can pass data known as parameters into a function.

A function can return data as a result.

#**Creating function**
In python a function is defined usign the def keyword

In [ ]:
# syntax
def function_name():

In [ ]:
def my_function():
  print("hello from a function")

#**Calling a function**

To call a function, use the function name followed by parenthesis

In [ ]:
def my_function():
  print("hello from a function")

my_function()

hello from a function

#**Arguments**
Information can be passed into a functions as arguments.

Arguments are specified after function name, in side parenthesis. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [ ]:
# function with parameters
def add_numbers(a,b): # a,b are variable,placeholder or parameters
  sum=a+b
  return sum
result=add_numbers(5,4)
print("the sum is",result)

the sum is 9

#**Parameters or Arguments?**
The terms parameter and argument can be used for the same thing: information that are passed into a function.

From a function's perspective:

A parameter is the variable listed inside the parentheses in the function definition.

An argument is the value that is sent to the function when it is called.

E.g if you send a list as an argument it will still be a list when it reaches the function

In [10]:
  def my_function(food):
    for x in food:
      print(x)

In [11]:
fruits=["apple","banana","cherry"]
my_function(fruits)

apple
banana
cherry

#**Return Values**
to let a function return a value use return statement

In [13]:
def my_function(x):
  return  5*x
print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [4]:
# function with default parameter
def greet_person(name="world"):
  print("hello",name)

#calling the function withount an argument

greet_person()

# calling the function with an argunment

greet_person("Ali")

hello world
hello Ali

In [14]:
# python program to find even or odd number
def check_even_odd(number):
  if number%2==0:
    print(number,"is an even number")
  else:
    print(number,"is an odd number")
#calling the function
check_even_odd(7)

7 is an odd number

In [17]:
#Python program to count the number of words in a string
def count_word(string):
  words = string.split()
  return len(words)

#calling the function
sentence="python is a popular programming language"
word_count=count_word(sentence)
print("number of words",word_count)

number of words 6