<a href="https://colab.research.google.com/github/Aatika1/Basic-of-python/blob/main/Lecture_5_stage3_Basic_of_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**2-String in python**
String in python are surrounded by either single Quotation or double Quotation marks 'hello' is the same as "hello" you can display a string literal with the print()function.

In [ ]:
print('hello world')
print("hello world")

hello world
hello world

**Assing String to a variable** Assinging a string to a variable is done with the variable name followed by an equal sign and the str

In [ ]:
a = "hello"
print(a)

hello

#**Multiline Strings**
you can assign a multiline string to a variable by using three Quotes or three single Quotes

In [ ]:
a = """ AI or Artificial Intelligence, refer to the development and Implementation of computer systems
or Machine that can perform tasks, that would typically require human Intelligence,
It is multidisciplinary field that encompasses various subfield, such as Machine Learning,
Natural Language Processing,Computer Vission, robotics, and more
"""
print(a)

 AI or Artificial Intelligence, refer to the development and Implementation of computer systems
or Machine that can perform tasks, that would typically require human Intelligence,
It is multidisciplinary field that encompasses various subfield, such as Machine Learning,
Natural Language Processing,Computer Vission, robotics, and more

#**Modify String**

**Upper Case**

the upper() method returns the string in upper case

In [ ]:
a = "hello world"
print(a.upper())

HELLO WORLD

**Lower Case**

The lower() method returns the string in lower case

In [ ]:
a = "HELLO WORLD"
print(a.lower())

#**Remove whitespace**

Whitespace is the space before and or after the actual text, and very often you want to remove this space. The strip() method remove any whitespace from the begging and or end

In [ ]:
a = " Hello,World "
print(a.strip()) # returns "Hello,World"

Hello,World

#**Replace String**

The replace() method replaces a str with another str

In [ ]:
a = ("Hello,World")
print(a.replace("World", "Abuzar"))

Hello,Abuzar

#**Split String**

The split() methdo returns a list where the text between the specified separator becomes the list items. The split() method split str into substrings if it finds instances of the operators

In [ ]:
a = "Hello,World"
print(a.split(",")) # returns ['Hellow', 'World']

['Hello', 'World']

#**Task#01**

Perform the following tasks using the provided built-in function to manipulate the string input_string = " AI and related technologies have a positive impact on the way the IT sectors works."


1.   Convert input_string to upper case using the upper() method and store the result in variable called 'Capitalized_text'
2.    Convert input_string to lower case using the lower() method and store the result in variable called 'Lowercase_text'
3.   Remove the whitespaces from the input_string using the strip() method and store the result in a variable called white_space
4.   Split the input_strig into list of words using split() method and store the result in a variable called word_split
5.   Replace the word 'positive' with the word 'remarkable' in the input_string using the replace() method and store the result in a variabel called word replace_text

In [ ]:
# Convert input_string to upper case using the upper() method and store the result in variable called 'Capitalized_text
input_string="AI and related technologies have a positive impact on the way the IT sectors works."
Capitalized_text=input_string.upper()
print(Capitalized_text)

AI AND RELATED TECHNOLOGIES HAVE A POSITIVE IMPACT ON THE WAY THE IT SECTORS WORKS.

In [ ]:
#Convert input_string to lower case using the lower() method and store the result in variable called 'Lowercase_text
input_string="AI and related technologies have a positive impact on the way the IT sectors works."
Lowercase_text= input_string.lower()
print(Lowercase_text)

ai and related technologies have a positive impact on the way the it sectors works.

In [ ]:
#Remove the whitespaces from the input_string using the strip() method and store the result in a variable called white_space
input_string = " AI and related technologies have a positive impact on the way the IT sectors works. "
white_space = input_string.strip()
print(white_space)

AI and related technologies have a positive impact on the way the IT sectors works.

In [ ]:
#Split the input_strig into list of words using split() method and store the result in a variable called word_split
input_string = " AI and related technologies have a positive impact on the way the IT sectors works. "
word_split=input_string.split()
print(word_split)

['AI', 'and', 'related', 'technologies', 'have', 'a', 'positive', 'impact', 'on', 'the', 'way', 'the', 'IT', 'sectors', 'works.']

In [ ]:
#Replace the word 'positive' with the word 'remarkable' in the input_string using the replace() method and store the result in a variabel called word replace_text
input_string = " AI and related technologies have a positive impact on the way the IT sectors works. "
replace_text=input_string.replace("positive","remarkable")
print(replace_text)

 AI and related technologies have a remarkable impact on the way the IT sectors works.

#**List**

Lists are created using square brackets.

In [ ]:
thislist=["apple","banana","cherry"]
print(thislist)

['apple', 'banana', 'cherry']

#**List Items**

List Items are ordered changeable and allow duplicate values. List items are indexed, the first number has index [0],the second item has [1] etc.Allow duplicate

In [ ]:
thislist=["apple","banana","cherry","apple","cherry"]
thislist[0]="grapes"
print(thislist)

['grapes', 'banana', 'cherry', 'apple', 'cherry']

#**List Length**

To determine how many Items a list has,use len() function

In [ ]:

print(len(thislist))

5

#**List Items-Data types**
List Items can be of any data type

In [ ]:
# str,int and bool data types:
list1=["apple","banana","cheery"]
list2=[1,5,7,9,]
list3=[True,False,]

In [ ]:
# A list with str,int and boolen value:
list1=["apple",14,True,60,"male"]
print(list1)

['apple', 14, True, 60, 'male']

#**The list() Constructor**

It is also possible to use the list() constructor when creating a new list.

In [ ]:
 # note the double round-brackets
thislist = list(("apple", "banana", "cherry"))
print(thislist)

['apple', 'banana', 'cherry']

#**Access List Items**

ist items are indexed and you can access them by referring to the index number:

In [ ]:
#Print the second item of the list
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

#Print the 3rd item of the list with index
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

#Return the third, fourth, and fifth item:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

banana
cherry
['cherry', 'orange', 'kiwi']

In [ ]:
#This example returns the items from the beginning to, but NOT including, "kiwi":

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

#This example returns the items from "cherry" to the end:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
#Range of Negative Indexes
#Specify negative indexes if you want to start the search from the end of the list

#This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

#**Check if Item Exists**
To determine if a specified item is present in a list use the in keyword:

In [ ]:
#Check if "apple" is present in the list:

thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

#**Change Item Value**
To change the value of a specific item, refer to the index number

In [ ]:
#Change the second item:

thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [ ]:
#Change a Range of Item Values
#Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

#**Insert Items**
To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

In [ ]:
#Insert "watermelon" as the third item:

thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

#**Tuple**

Tuple are used to store multiple items in a single variabel.A tuple is collection which is ordered and unchangeable.
Tuples are written with Rounde bracket

In [ ]:
#This example returns the items from the beginning to, but NOT including, "kiwi":

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

#This example returns the items from "cherry" to the end:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
#This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

#**Check if Item Exists**

To determine if a specified item is present in a list use the in keyword:

In [ ]:
#Check if "apple" is present in the list:

thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

#**Change Item Value**

To change the value of a specific item, refer to the index number:

In [ ]:
#Change the second item:

thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [ ]:
#Change a Range of Item Values
#Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

#**Insert Items**
To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

In [ ]:
#Insert "watermelon" as the third item:

thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

#**Loop Through a List**
You can loop through the list items by using a for loop:

In [24]:
#Print all items in the list, one by one:

thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

#**Create a tuple**

In [ ]:
thistuple=("apple","banana","cheery")
print(thistuple)

('apple', 'banana', 'cheery')

#**Tuple Items**

Tuples Items are ordered unchangeable, and allow duplicate values.

Tuples items are indexed,the first item has index[0] the 2nd item has index[1] etc.

**Allow Duplicate** since tuples are indexed, they have items with same value.

In [ ]:
#Tuples allow duplicate values
thistuple=("apple","banana","cheery","apple","cheery")
print(thistuple)

('apple', 'banana', 'cheery', 'apple', 'cheery')

#**Create Tuple with one item**
to create tuple with only one item you have to add a comma after the item. otherwise python will not recognize it as a tuple

In [ ]:
# one item tuple
thistuple=("apple",)
print(type(thistuple))

#not tuple
thistuple=("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

#**Tuple Items-Data Types**

Tuple items can be of any data type

In [ ]:
# str,int,and bool data types:
tuple1=("apple","banana","cherry")
tuple2=(1,2,3,4,5,6)
tuple3=(True,False,False)

In [ ]:
# Tuple can be contain different data types:
# Tuple with str, int and boolen values
Tuple1=("abc",14,True,18,"male")

#**Python Sets**

sets are used to store multiple items in single variabel. A set is a collection which is unordered, unchangeable and unindexed. Note**Set. Items are unchangeable, but you can remove items and add new items.

### **Unordered**

unordered means that the items in a set don't have define order

set items can appear in a different order everytime you use them, and can't be reffered to by index or key

### **Creat a set**

set are written with curly bracket

In [ ]:
thisset={"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

# **Duplicate not allowed**

set can't have two items with same value.

In [ ]:
# Duplicate value will be ingnored
thisset={"apple", "banana", "cherry", "apple"}
print(thisset)

{'banana', 'cherry', 'apple'}

#**Get length of a set**

To determine how many times a set has,use the len() function

In [ ]:
# Get number of items in a set:
thisset={"apple", "banana", "cherry",}
print(len(thisset))

3

# **Set Items-Data types**

Set items can be of any data types:

In [ ]:
# str, int and boolen data types:
set1={"apple", "banana", "cherry"}
set2={1,2,3,4,5,6}
set3={True, False, False}

In [ ]:
# A set contain different data types:
# A set with str, int, and bool values
set = {"abc", 14, True, "male"}

# **Type()**

From python perspective, sets are defined as object with the data type 'set'.

In [ ]:
# what is data type of a set?
myset={"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

# **Python Dictionries**

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered , changeable and don't allow duplicate.

In [ ]:
# Dictionaries are written with curly bracket, and have key and values:
# creat and print dictionary
thisdict = {
    "brand":"ford",
    "model":"mustang",
    "year" : 1964
}
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

#**Dictionary Items**

Dictionay items are ordered, changeable and doesn't allow duplicate

Dictionay Items are presented in key:value pairs and can be reffered to by using key name.

In [ ]:
# print "brand" value of dictionary
thisdict = {
    "brand":"ford",
    "model":"mustang",
    "year" : 1964
}
print(thisdict["brand"])

ford

#**Ordered or Unordered**

when we say that dictionaries are ordered. It means that the items have defined order, and that order will not change.

Unordered means that the items doesn't have define order, you can't refer to an item by using an index

###**Changeable**

Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created

# **Duplicate not allowed**

Dictionary can't have two items with same key

In [ ]:
# Duplicate value will overwrite existing value:
thisdict = {
    "brand":"ford",
    "model":"mustang",
    "year" : 1964,
    "year": 2020
}
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': 2020}

#**Python if...else**

Python support the usual logical conditions from mathematics:

python relational operators

Equal: a==b

Not equal: a!=b

Less than: a < b

Greater than: a > b

Less than equal to: a <= b

Greater than equal to: a >= b

These conditions can be used in several ways, most commonly in 'if statement' and loops

An 'if statement' is written by using the if key

In [ ]:
# if statement:
a = 33
b= 200
if b > a:
  print("b is greater than a")

b is greater than a

# **Indentation**

python relies on indentation (whitespace at the beginnig of line) to define scope in a the code. Other programming language often use curly-bracket for this purpose

In [ ]:
a = 33
b= 200
if b > a:
print("b is greater than a")

IndentationError: expected an indented block after 'if' statement on line 3 (<ipython-input-3-e5ed151fbdeb>, line 4)

#**elif**

The else keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 333
b = 333
if b > a:
  print("b is greater than a")
elif b == a:
  print("b and a are equle")

b and a are equle

#**else**

The else keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

#**And**

The and keyword is a logical operator and is used to combine conditional statement:


Test  if a is greater thant b and if c is greater than a:

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("both conditions are true")

both conditions are true

#**or**

the or keyword is logical operator,and is used to combine conditional statement.

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("At least one of the condition is true")

At least one of the condition is true

#**Not**

The not keyword is a logical operator, and used to reverse the result of condition statement.

In [ ]:
# Test if a is Not greater than b
a = 33
b = 200
if not a > b:
  print("a is not greater than b")

a is not greater than b