<a href="https://colab.research.google.com/github/Aatika1/Basic-of-python/blob/main/Lecture04_Basic_of_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Basic AI Course**

Basic of python

#1.Variable naming
Rules for naming conventions

In [ ]:
# Right Variable Decelartion
num_students=25

In [ ]:
total_sales=100.50

In [ ]:
student_name="AI"

In [ ]:
# Print variabels values
print(num_students)

25

In [ ]:
print(total_sales)

100.5

In [ ]:
print(student_name)

AI

In [ ]:
# wrong variables decelartions
2nd_student="Alian"

SyntaxError: invalid decimal literal (<ipython-input-7-a682021a2ca6>, line 2)

In [ ]:
total-sales=100.50

In [ ]:
# python reserved keyword
if=10

SyntaxError: invalid syntax (<ipython-input-8-4745913c9cfa>, line 2)

In [ ]:
# wrong variabel decelartion
print(2nd_student)
print(total-sales)
print(if)

SyntaxError: invalid decimal literal (<ipython-input-9-3286c3526178>, line 2)

#**DATA TYPES**
In computer programming data types specify the type of data that can be stord inside variable

2.1 data type numeric

*   int:12
*   float:12.5

2.2 Data type string


*   .str:"future of AI"

In [ ]:
num=23

In [ ]:
num

23

In [ ]:
int num1 = 100

SyntaxError: invalid syntax (<ipython-input-13-198ee80ed02a>, line 1)

Above 23,(an intiger) is assigned to the 'num' variable. So the data type num is of the num

In [ ]:
course="free AI course"

In [ ]:
print(course)

free AI course

Above 'free AI course' (a str) assigned to the 'course' variable so the data type of course is of the str

In [ ]:
marks=85.64

Above 'marks' (a float) is assigned to the 'marks' variable so the data type of marks is of the float

#**Task01**
Assign values to variables and display their values.

In [ ]:
#Assign any str value to variable

In [ ]:
#Assign any int value to variable

In [ ]:
#Assign any float value to variable

#**Operators**

1.   (+)addition
2.   (-)subtraction
3.   (/)division
4.   (**)exponentiation
5.   (%)modulous(remainder after division)
6.   Comparison Operators are discussed later
7.   Python has incorporated operators like+*,but++(or-) do not work in python

In [ ]:
# Multiply two numbers
print(3*4)

In [ ]:
# Display calculate square of number
print(3**2)

In [ ]:
# calculate the remainder
print(16%5)

In [ ]:
# Divide two numbers
a = 5.0/10.0
a

In [ ]:
# calculate the Quotient of two numbers
b=11//4

**Adding** **two intigers**

In [ ]:
num1 = 5
num2 = 2
sum = num1+num2
print(sum)

#6 Simple program calculate area of rectangle
area of rectangle = length * height

In [ ]:
# simple program calculate area of rectangle
Length = 2.5
Height = 3.5
area = Length * Height
print(area)

8.75

##**Task-02**

1.   Create a simple python program to swap variables using three variables
2.   Create a simple python program to swap variables using only two variables

In [7]:
#Create a simple python program to swap variables using three variables
x=12
y=14
temp=x
x=y
y=temp
print(x)
print(y)

14
12

In [6]:
#Create a simple python program to swap variables using only two variables
a=16
b=18
a,b=b,a
print(a)
print(b)

18
16